body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  padding: 10px;
}

h1 {
}

h2 {
  color: red;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: red;
  text-transform: uppercase;
  text-align: center;
}

p {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
}

table {
  margin: 0 auto;
  text-align: center;
}

.red {
  color: red;
  text-transform: uppercase;
}

.blue {
  color: #0070c0;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

#qrcode {
  margin: 0 auto;
}
#qrcode img {
  margin: 0 auto;
}

.footnote {
  font-size: small;
  color: gray;
}
.footer {
  font-size: smaller;
  text-align: center;
}
